{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="headline-bg cultural-headline-bg cultural">
    <div class="overlay"></div>

</div>
<section class="blog-header section section-on-bg">
        <div class="container text-center">
            <h2 class="title">Blog ARCUM</h2>
            <p class="title-intro">Descubra as histórias, noticias e novidades da nossa associação!</p>


        </div><!--//container-->
    </section>

<div class="blog container">
            <div class="row">
                <div id="blog-mansonry" class="blog-list" style="position: relative; height: 1811.765625px;">

{{> "loop"}}

                </div><!--//blog-list-->
            </div><!--//row-->
            <div class="pagination-container text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul><!--//pagination-->
            </div><!--//pagination-container-->
        </div>



</main>
