{{!< default}}
<div class="blog-entry-wrapper">
    <div class="blog-headline-bg">
    </div>
    <div class="blog-entry">
        <article class="post post-style">
            <header class="blog-entry-heading" style="background: #253340 url({{tag.image}}) no-repeat 50% center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                <div class="container text-center">
                    <h2 class="title">{{tag.name}}</h2>
                    <div class="meta">
                        <ul class="meta-list list-inline">
                            <li class="post-author"> {{pagination.total}} artigos</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav class="post-nav post-nav-top">
                    <span class="nav-previous"><a href="/blog/" rel="prev"><i class="fa fa-long-arrow-left"></i>Voltar ao blog</a></span>
                </nav>
            </header>
            <div class="blog blog-category container">
                <div class="row">
                    <div class="blog-list blog-category-list">
                        {{> "cat-loop"}}
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
