<header id="header" class="header navbar-fixed-top animated fadeInDown">
    <div class="container">
        <h1 class="logo">
            <a href="">
                <img class="img-responsive" src="{{ asset "images/logos/arcum_thumb.png"}}">
            </a>
        </h1>
        <!--<span class="logo-text">
            <a href="index.html">
                Associação Recreativa e Cultural
                <br/>
                Universitária do Minho
            </a>
        </span>-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/">Início</a></li>
                    <li class="nav-item"><a href="/cultural">Cultural</a></li>
                    <li class="nav-item"><a href="/social">Social</a></li>
                    <li class="nav-item"><a href="/educativo">Educativo</a></li>
                    <li class="nav-item active"><a href="/blog">Blog</a></li>
                    <li class="nav-item"><a href="/sobre">Sobre nós</a></li>
                    <li class="nav-item"><a href="/contactos">Contactos</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>